body {
    font-family: Arial, sans-serif;
    background: #9eceff;
}

.container {
    width: 70%;
    margin: 30px auto;
    background: rgb(244, 243, 243);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background: #015291;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

a {
    color: #0078d4;
    text-decoration: none;
}